<!doctype html>
<!--

The source code for this entire website is
available on GitHub:

https://github.com/johndjameson/johndjameson.com

Tweet me @johndjameson if you have any questions.

Now have fun looking around. :)

==================================================
-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }} | John D. Jameson</title>
	{% if page.title == "Home" %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="author" href="https://plus.google.com/u/0/113914298266231922059/posts">
	<link rel="alternate" type="application/rss+xml"  href="http://www.johndjameson.com/feed.xml" title="John D. Jameson">

	<link rel="stylesheet" href="/css/application.css">
	<script type="text/javascript" src="//use.typekit.net/gqu6ggi.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

	<header class="header" role="banner">
		<div class="header-content">
			<div class="header-masthead">
				<div class="logo">
					<a class="unstyledLink" href="/">
						<img class="logo-image" src="/img/johndjameson-logo.svg" alt="JJ logo">
					</a>

					<span class="logo-tagline"><em>He&rsquo;s got character.</em></span>
				</div>
			</div>

			<div class="header-navigation">
				<nav class="nav" role="navigation">
					<ul class="nav-list">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/blog/">Blog</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	{{content}}

	<footer class="row">
		<div class="cell">

			<div class="footer-content">
				<div class="grid">
					<div class="grid-box grid-box--center grid-box--m--4of5 grid-box--l--3of4">
						<div class="grid">
							<div class="grid-box grid-box--m--1of2">
								<div class="grid">
									<div class="grid-box grid-box--1of3">
										<img class="ra mbm" src="/img/avatar.jpg" alt="The always charming John D. Jameson">
									</div>
									<div class="grid-box grid-box--2of3">
										<h4 class="mbf tfh tsm twb">John D. Jameson</h4>
										<p class="tss">Web designer and front&#x2011;end developer in Orlando,&nbsp;Florida.</p>
									</div>
								</div>
							</div>

							<div class="grid-box grid-box--m--1of2">
								<ul class="footer-list">
									<li class="list-item"><a href="https://twitter.com/johndjameson">Twitter</a></li>
									<li class="list-item"><a href="https://dribbble.com/johndjameson">Dribbble</a></li>
									<li class="list-item"><a href="http://codepen.io/johndjameson/">CodePen</a></li>
									<li class="list-item"><a href="https://github.com/johndjameson">GitHub</a></li>
									<li><a href="http://feeds.feedburner.com/johndjameson"><abbr>RSS</abbr></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<p class="tac tcs tss">&ldquo;You're ready. Start making stuff.&rdquo; &mdash;&nbsp;Austin&nbsp;Kleon</p>

		</div>
	</footer>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	{% if page.dribbble %}
	<script src="/js/dribbble.js" async></script>
	{% endif %}

	{% if page.post %}
	<script src="/js/sidenotes.js"></script>
	{% endif %}

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-42673242-1', 'johndjameson.com');
		ga('send', 'pageview');
	</script>
</body>
</html>