@layer component.local {
  .container {
    container-type: inline-size;
  }

  .content > :where(ol, ul) {
    padding-left: 2em;
  }

  .content > :where(ol, ul) > :where(li) {
    margin-bottom: 0.25em;
  }

  .content > :where(ol) {
    list-style: decimal;
  }

  .content > :where(ul) {
    list-style: disc;
  }

  .content :where(img) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .content :where(code) {
    border: 1px solid rgb(230 225 233);
    border-radius: 6px;
    padding: 0.125em 0.25em;
    font-size: 0.875em;
  }

  .content :where(iframe) {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
  }

  .content :where(strong) {
    font-weight: 600;
  }

  .content > :where(:last-child) {
    margin-bottom: 0;
  }
}
