@layer component.local {
  .container {
    container-type: inline-size;
  }

  .content :where(code) {
    border: 1px solid rgb(230 225 233);
    border-radius: 6px;
    padding: 0.125em 0.25em;
    font-size: 0.875em;
  }

  .content :where(iframe) {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
  }

  .content :where(strong) {
    font-weight: 600;
  }

  .content > :where(:last-child) {
    margin-bottom: 0;
  }
}
