// *************************************
//
//   Article
//   -> Markdown document
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .article[...]
//
// *************************************

.article

  // -------------------------------------
  //   Block Content
  // -------------------------------------

  h2
    margin-top: $b-space

    +respond-to($g-l)
      margin-top: $b-space-l

  h3
    font-size: inherit
    margin-top: $b-space

  ul, ol
    +list-reset
    list-style-type: square
    margin-bottom: $b-space

    > li
      margin-bottom: $b-space-s

      &:last-of-type
        margin-bottom: 0

  iframe
    margin-bottom: $b-space

  img
    display: block
    margin: 0 auto

  // -------------------------------------
  //   Inline Content
  // -------------------------------------

  a:not([class])
    @extend %link
    @extend %link--underlined

  code, kbd

// -------------------------------------
//   Scaffolding
// -------------------------------------

.article-footer
  border-top: $b-border
  margin-top: $b-space-xl
  padding-top: $b-space
