// *************************************
//
//   Crop Height
//   -> Image constraint
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .mv-thumbnail
//   .mv-thumbnail-media
//
// *************************************

// ----- Responsive ----- //

@include respond-to($g-m) {
  .mv-cropHeight_m {
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
}

// -------------------------------------
//   Context
// -------------------------------------

.has-cropHeight {
  position: relative;
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.mv-thumbnail-media {
  position: relative;
  z-index: -1;
}
