// *************************************
//
//   Figure
//   -> Annotated image blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .figure
//   %img.figure-image
//   .figure-caption
//
// *************************************

.figure
  padding: 0
  margin: $b-space-l 0

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Caption ----- //

.figure-caption
  +font-size( 's' )
  color: $c-subdue
  font-style: italic
  text-align: center

// ----- Image ----- //

.figure-image
  margin-bottom: $b-space-s
