// *************************************
//
//   Heading
//   -> Section label
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .heading[1|2]
//
// *************************************

.heading
  font-weight: 700
  line-height: 1.325
  margin-bottom: $b-space-s

  +respond-to($g-m)
    margin-bottom: $b-space

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Hiearchy ----- //

.heading--1
  font-size: 30px
  margin-bottom: $b-space-s

  +fontless
    font-size: 25px

  +respond-to($g-m)
    font-size: 50px

    +fontless
      font-size: 42px

  +respond-to($g-l)
    margin-bottom: $b-space

.heading--2
  font-size: $b-fontSize-h2 * 0.8

  +respond-to($g-m)
    font-size: $b-fontSize-h2

  +fontless
    font-size: $b-fontSize-h2-fallback

.heading--3
  font-size: inherit
