// *************************************
//
//   Heading
//   -> Section label
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .heading[1|2]
//
// *************************************

.heading {
  font-weight: 700;
  line-height: 1.325;
  margin-bottom: $b-space-s;

  @include respond-to($g-m) {
    margin-bottom: $b-space;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Hiearchy ----- //

.heading--1 {
  font-size: 30px;
  margin-bottom: $b-space-s;

  @include fontless {
    font-size: 25px;
  }


  @include respond-to($g-m) {
    font-size: 50px;

    @include fontless {
      font-size: 42px;
    }
  }


  @include respond-to($g-l) {
    margin-bottom: $b-space;
  }
}

.heading--2 {
  font-size: $b-fontSize-h2 * 0.8;

  @include respond-to($g-m) {
    font-size: $b-fontSize-h2;
  }


  @include fontless {
    font-size: $b-fontSize-h2-fallback;
  }
}

.heading--3 {
  font-size: inherit;
}
