// *************************************
//
//   Header
//   -> Primary brand and navigation
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .mv-header
//   / ..
//
// *************************************

.mv-header
  border-bottom: 1px solid $black
  padding-bottom: 3px

  &::after
    background: $black
    content: ''
    display: block
    height: 4px
