// *************************************
//
//   Header
//   -> Primary brand and navigation
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .mv-header
//   / ..
//
// *************************************

// .mv-header {}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Rule ----- //

.mv-header-rule {
  border-bottom: 1px solid $black;
  border-top: 4px solid $black;
  display: block;
  height: 3px;
}
