// *************************************
//
//   Header
//   -> Primary brand and navigation
//
// *************************************

.header
  @extend .row
  @extend .cell
  @extend .well

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Content ----- //

.header-content
  @extend .split-item

// ----- Link ----- //

.header-link
  color: $header-link-color
  font-weight: $header-link-fontWeight

// ----- Logo ----- //

.header-logo
  display: inline-block
  margin-right: $b-space-xs

// ----- Masthead ----- //

.header-masthead
  @extend .split-cell
  @extend .split-cell--fluid

// ----- Tagline ----- //

.header-tagline
  display: none
  font-style: italic
  margin-bottom: 0
  +respond-to($g-s) // ~320px
    display: inline-block

// ----- Navigation ----- //

.header-nav
  @extend .split-cell
  @extend .split-cell--fixed

// Active

.header-link.is-active
  border-top: $header-link-border

