// *************************************
//
//   Hero Title
//   -> Responsive hero text
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .mv-heroTitle
//
// *************************************

.mv-heroTitle
  $letterspacing: 0.14em
  +fluid-font-size($b-fontSize-l, 100px, 400px, $b-maxWidth + ($b-space-l * 2))
  font-weight: 700
  letter-spacing: $letterspacing
  line-height: 1
  margin-right: -$letterspacing
  text-align: center
  text-transform: uppercase

  +fontless
    +fluid-font-size($b-fontSize-l-fallback, 88px, 400px, $b-maxWidth + ($b-space-l * 2))
