// *************************************
//
//   Hero
//   - Showcase unit
//
// *************************************

.hero
  @extend .row
  @extend .row--a
  color: $c-text-invert

// -------------------------------------
//   Modifiers
// -------------------------------------

.hero--ampersand

  .hero-content
    background-repeat: no-repeat

    +respond-to( $g-m )
      background-image: url( '/assets/images/hero-ampersand.svg' )
      background-position: right top $b-space
      background-size: contain

// -------------------------------------
//   Scaffolding
// -------------------------------------

.hero-content
  @extend .cell
  padding-top: $b-space
  padding-bottom: $b-space
