// *************************************
//
//   Inverted Link
//   -> Contextual inverted links
//
// *************************************

.invertedLink
  border-bottom: 2px solid $invertedLink-borderColor
  color: $invertedLink-color
  font-weight: bold
  &:hover,
  &:focus
    border-bottom-color: $invertedLink-borderColor-hover
    color: $invertedLink-color-hover
