// *************************************
//
//   Inverted Link
//   -> Link styles for dark contexts
//
// *************************************

.invertedLink
  border-bottom: em(2px) solid $invertedLink-borderColor
  color: $invertedLink-color
  font-weight: bold
  &:hover,
  &:focus
    border-bottom-color: $invertedLink-borderColor-hover
    color: $invertedLink-color-hover

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Borderless ----- //

.invertedLink--borderless
  border: 0
  &:hover,
  &:focus
    border: 0
