// *************************************
//
//   Label
//   -> Supplementary text
//
// *************************************

.label
  +font-size-s
  color: $label-color
  font-family: $b-fontFamily-mono
  font-weight: $b-fontWeight-bold
  letter-spacing: em( 2px )
  text-transform: uppercase

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Invert ----- //

.label--invert
  color: $label--invert-color
