// *************************************
//
//   Label
//   -> Supplementary text
//
// *************************************

.label
  color: $c-subdue
  font-size: $b-fontSize-s
  font-weight: bold
  letter-spacing: em(1px)
  text-transform: uppercase

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Invert ----- //

.label--invert
  color: $c-text-invert
