// *************************************
//
//   Logo
//   -> Brand mark
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %img.logo
//
// *************************************

.logo
  height: $logo-size
  width: $logo-size

  +respond-to( $g-m )
    height: $logo-size-b
    width: $logo-size-b
