// *************************************
//
//   Manicule
//   -> Point the way
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %img.manicule
//
// *************************************

.manicule
  height: auto
  position: absolute
  right: calc(100% + #{$b-space-xs})
  top: -3px
  width: 70px

// -------------------------------------
//   Context
// -------------------------------------

.has-manicule
  position: relative
