// *************************************
//
//   Manicule
//   -> Point the way
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .manicule
//
// *************************************

.manicule
  position: absolute
  right: calc(100% + #{$b-space-xs})

// -------------------------------------
//   Context
// -------------------------------------

.has-manicule
  position: relative
