// *************************************
//
//   Navigation Tab
//   -> Internal link
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// (.has-navigationTab)
//
// .navigationTab
//   .navigationTab-link
//
// *************************************

.navigationTab
  align-items: center
  border-top: $b-border
  display: flex
  flex-grow: 1

// -------------------------------------
//   Context
// -------------------------------------

.has-navigationTab
  display: flex

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Link ----- //

.navigationTab-link
  font-size: 16px
  font-weight: 700
