// *************************************
//
//   Post
//   -> Markdown-compiled article
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .post[...]
//
// *************************************

.post

  ol, ul
    padding-left: $b-space

    ol, ul
      margin-bottom: 0

      > li:first-child
        margin-top: $b-space-s

    +respond-to(em(900px)) // FIXME: Magic number!
      padding-left: 0

    +respond-within($g-l, em(1340px)) // FIXME: Magic number!
      padding-left: $b-space

  h2
    margin-bottom: $b-space-s
    margin-top: $b-space

  h3
    margin-bottom: $b-space-s
    margin-top: $b-space

  blockquote
    +font-size(( l: 24px ))
    background: $c-highlight
    border-left: 10px solid $c-highlight
    box-sizing: border-box
    font-style: italic
    margin: $b-space 0
    padding: $b-space

    > :last-child
      margin-bottom: 0

    +respond-to($g-l)
      max-width: $b-maxWidth
      position: relative
      width: calc(100vw - #{$row-gutter-b * 2})
      z-index: 1

  code, kbd
    +font-size('s')
    background: $c-background-dark
    display: inline-block
    font-family: $b-fontFamily-mono
    padding-left: $b-space-xs
    padding-right: $b-space-xs

  img
    display: block
    margin-left: auto
    margin-right: auto

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Footnotes ----- //

.post .footnotes
  @extend .pillar
  +font-size('s')
  margin-top: $b-space-l

  > hr
    display: none

  > ol
    margin-bottom: 0

  li:last-of-type
    margin-bottom: 0

  p:last-of-type
    margin-bottom: 0

// ----- Marker ----- //

[ id^='fnref' ]

  &::before
    content: '\00a0'
    font-size: 50%

  > a
    letter-spacing: 1px

    &::before
      content: '['

    &::after
      content: ']'
