// *************************************
//
//   Post
//   -> Markdown-compiled blog post
//
// *************************************

.post
  margin-bottom: $b-space-l

  ol, ul
    padding-left: $list-space

  h2
    margin-bottom: $b-space-s
    margin-top: $b-space-l

  h3
    margin-bottom: $b-space-s
    margin-top: $b-space

  blockquote
    border-left: $b-space-xs $b-borderStyle $c-border
    font-style: italic
    margin: 0
    padding-left: $b-space

  code, kbd
    background: $c-background-invert
    display: inline-block
    font-size: $b-fontSize-m
    padding-left: $b-space-xs
    padding-right: $b-space-xs

  img
    display: block
    margin-left: auto
    margin-right: auto

// -------------------------------------
//   Context
// -------------------------------------

.post.has-sidenotes

  .footnotes
    +respond-to($g-l)
      display: none

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Footnote Markers ----- //

[id^='fnref']
  &::before
    content: '\00a0'
    font-size: 50%

  > a
    letter-spacing: 1px
    &::before
      content: '['
    &::after
      content: ']'

// ----- Footnotes ----- //

.post > .footnotes
  @extend .pillar
  font-size: $b-fontSize-s
  margin-top: $b-space-l

  > hr
    display: none

  > ol
    margin-bottom: 0

  li:last-of-type
    margin-bottom: 0

  p:last-of-type
    margin-bottom: 0

// ----- Lead ----- //

.post-lead
  letter-spacing: 0.2em
  font-family: $b-fontFamily-heading
  font-size: $b-fontSize-m
  font-weight: normal
  text-transform: uppercase

// ----- Sidenote ----- //

.post-sidenote
  box-sizing: border-box
  color: $c-subdue
  display: none
  font-size: $b-fontSize-s
  font-style: italic
  left: 100%
  padding-left: $b-space
  position: absolute
  top: 0
  width: percentage(1/4)
  +respond-to($g-l)
    display: block

// ----- Subject ----- //

.post-subject
  line-height: percentage($b-lineHeight)
  position: relative

