// *************************************
//
//   Strike Around
//   -> Adjacent lines
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .mv-stikeAround
//   / ..
//
// *************************************

.mv-strikeAround {
  align-items: center;
  display: flex;

  &::before, &::after {
    box-sizing: content-box;
    content: '';
    flex-grow: 1;
  }

  &::before {
    border-bottom: 1px solid $black;
    border-top: 4px solid $black;
    height: 2px;
    margin-right: $b-space;
  }

  &::after {
    border-bottom: 1px solid $black;
    border-top: 4px solid $black;
    height: 2px;
    margin-left: $b-space;
  }
}
