!!! 5
%html{ lang: 'en' }
  = partial 'shared/head'

  %body.js-dispatcher{ data: { 'dispatcher-page' => 'home' } }
    = partial 'shared/header'

    %main{ role: 'main' }
      = yield

    = partial 'shared/footer-scripts'
