@layer component {
  .container {
    --hero-background-color: rgb(43 32 109);
    --hero-text-color: rgb(171 97 203);
    --hero-text-color-subdued: rgb(152 90 212);
    container-type: inline-size;
  }

  .content {
    aspect-ratio: 2.13333333;
    background: var(--hero-background-color);
    border-radius: 6px;
    overflow: hidden;
  }

  .lines {
    color: var(--hero-text-color);
    font-family: var(--font-cendra);
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    transform: translate(-50%, 20%) rotate(-45deg);
    user-select: none;
    white-space: nowrap;
  }

  .line:nth-child(even) {
    background: var(--hero-background-color);
    color: var(--hero-text-color-subdued);
    transform: translateX(-75%);
  }
}
