// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************

*, *::before, *::after
  +box-sizing(border-box)

html
  font-size: $base-fontSize

body
  background: $base-background
  color: $base-color
  font-family: $base-fontFamily
  font-size: 100%
  line-height: $base-lineHeight

// -------------------------------------
//   Block Content
// -------------------------------------

p
  @extend %fontSize-a
  @extend %l-space
  margin-top: 0

// -------------------------------------
//   Inline Content
// -------------------------------------

a
  @extend %transition-fast
  border-bottom: 2px solid $base-link-background
  color: $base-link-color
  font-weight: bold
  text-decoration: none
  &:hover,
  &:focus
    +box-shadow(-0.125em 0 0 $base-link-background, 0.125em 0 0 $base-link-background)
    background-color: $base-link-background