// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************

*, *::before, *::after
  +box-sizing(border-box)

html
  font-size: 100%
  +respond-to($bp-layout)
    font-size: percentage($b-fontSize-bp/$b-fontSize)

body
  background: $c-background
  color: $c-text
  font-family: $b-fontFamily
  line-height: $b-lineHeight
  padding: 0 $b-whitespace
  text-rendering: optimizeLegibility


//::selection


// -------------------------------------
//   Block Content
// -------------------------------------

p
  margin: 0 0 $b-whitespace

ol, ul
  list-style-type: none
  margin: 0 0 $b-whitespace
  padding: 0 0 0 $b-whitespace
  ol, ul
    margin: 0
  li
    position: relative
    &::before
      padding-right: $b-whitespace/4
      position: absolute
      right: 100%
      text-align: right
      width: $b-whitespace

ol
  counter-reset: footnote-number
  li
    position: relative
    &::before
      content: counter(footnote-number) "\2009" ")"
      counter-increment: footnote-number
      opacity: 0.9

ul
  li
    &::before
      content: "\2022"
      font-size: 150%
      line-height: 1
      opacity: 0.9
      padding-right: $b-whitespace/4
      text-align: right
      top: -0.1em


// -------------------------------------
//   Inline Content
// -------------------------------------

a
  color: $c-primary
  font-weight: bold
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline

abbr
  font-size: 90%
  letter-spacing: 0.1em

blockquote
  border-left: 1px solid $c-border
  color: $c-heading
  font-style: italic
  margin: 0
  padding: 0 0 0 $b-whitespace

code
  font-family: $b-fontFamily-monospace
  p &, li &
    background-color: #f4f4f4
    border-radius: $b-borderRadius/2
    font-size: 85%
    padding: 0 0.25em

img
  display: block
  max-width: 100%
  margin: 0 auto $b-whitespace

p
  margin: 0 0 $b-whitespace 0

pre
  font-family: inherit
  margin: 0

sup
  font-size: 0.7em
  position: relative
  top: -0.3em