// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************

*, *::before, *::after
  +box-sizing(border-box)

html
  font-size: $base-fontSize

body
  background: $base-background
  color: $base-color
  font-family: $base-fontFamily
  font-size: 100%
  line-height: $base-lineHeight

// -------------------------------------
//   Block Content
// -------------------------------------

p
  @extend %fontSize-a
  margin: 0 0 rem($base-whitespace)

ol, ul
  @extend %fontSize-a
  margin: 0 0 rem($base-whitespace)
  padding: 0 0 0 rem($base-whitespace)
  
  ol, ul
    margin: 0

// -------------------------------------
//   Inline Content
// -------------------------------------

a
  @extend %transition-fast
  border-bottom: 2px solid $base-link-background
  color: $base-link-color
  font-weight: bold
  text-decoration: none

  &:hover, &:focus
    background-color: $base-link-background
    +box-shadow(-0.125em 0 0 $base-link-background, 0.125em 0 0 $base-link-background)

abbr
  @extend %c-shout
  font-size: 95%

b
  font-weight: normal

blockquote
  margin: rem($base-whitespace) 0
  border-left: 4px solid $base-color-a
  padding: 0 rem($base-whitespace)

  &:first-child
    margin-top: 0

em
  font-style: italic

strong
  font-weight: bold

sup
  font-size: 0.7em
  position: relative
  top: -0.3em