// *************************************
//
//   Content
//   -> Typography
//
// *************************************

// -------------------------------------
//   Headings
// -------------------------------------

h1, h2, h3,
h4, h5, h6,
.c-h1, .c-h2, .c-h3,
.c-h4, .c-h5, .c-h6
  @extend %l-space
  color: $base-header-color
  font-family: $c-header-fontFamily
  font-weight: bold
  line-height: 1.375
  margin-top: 0

h1, .c-h1, %c-h1
  @extend %fontSize-f
  line-height: 1.15

h2, .c-h2, %c-h2
  @extend %fontSize-e
  line-height: 1.2

h3, .c-h3, %c-h3
  @extend %fontSize-d
  line-height: 1.25

h4, .c-h4, %c-h4
  @extend %fontSize-c
  line-height: 1.3

h5, .c-h5, %c-h5
  @extend %fontSize-b
  line-height: 1.375

h6, .c-h6, %c-h6
  @extend %fontSize-a
  line-height: 1.45

// -------------------------------------
//   Utilities
// -------------------------------------

%c-center, .c-center
  text-align: center

%c-condense, .c-condense
  font-size: 85%

%c-lead, .c-lead
  font-size: 125%

%c-shout, .c-shout
  letter-spacing: 1px
  text-transform: uppercase
  word-spacing: 1px