// *************************************
//
//   Content
//   -> Typography
//
// *************************************

// -------------------------------------
//   Headings
// -------------------------------------

h1, h2, h3, h4, h5, h6,
  color: $c-heading
  font-family: $b-fontFamily-heading
  line-height: ($b-lineHeight + 1)/2
  margin: 0

h1
  font-size: em(26px)
  font-weight: 700
  +respond-to(30em)
    font-size: em(36px)
  +respond-to($bp-layout)
    font-size: em(56px, $b-fontSize-bp)

h2, h3, h4, h5, h6
  font-size: em(22px)
  margin: $b-whitespace*2 0 $b-whitespace
  +respond-to($bp-layout)
    font-size: em(26px, $b-fontSize-bp)

h2
  font-weight: 400
  letter-spacing: 0.25em
  text-transform: uppercase

h3
  font-weight: 700

h4
  font-style: italic
  font-weight: 400

// -------------------------------------
//   Utilities
// -------------------------------------

.c-center, %c-center
  text-align: center

.c-condense, %c-condense
  font-size: 85%

.c-lead, %c-lead
  font-size: 125%

.c-shout, %c-shout
  font-size: 90%
  letter-spacing: 0.25em
  text-transform: uppercase

%c-smallcaps, .c-smallcaps
  @extend %c-shout
  font-family: $b-fontFamily-heading
  font-style: normal

.c-circle, %c-circle
  border-radius: 50%