// *************************************
//
//   Helpers
//   -> Extends, Functions, Mixins, Animations
//
// *************************************

// -------------------------------------
//   Functions
// -------------------------------------

// ----- em ----- //

@function em($target, $context: $base-fontSize)
  @if ($target == 0)
    @return 0
  @else
    @return #{$target / $context}em

// ----- rem ----- //

@function rem($size)
  @return #{$size / $base-fontSize}rem

// -------------------------------------
//   Mixins
// -------------------------------------

// ----- Respond-to ----- //

=respond-to($val, $query: min-width, $media: screen)
  @media #{$media} and ($query: $val)
    @content

// -------------------------------------
//   Extends
// -------------------------------------

// ----- Debug ----- //

%debug
  background-color: pink !important

// ----- Ellipsis ----- //

%ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// ----- Clearfix ----- //

%group:after
  clear: both
  content: ''
  display: table

// ----- Image Replacement ----- //

%ir
  background-color: transparent
  border: 0
  overflow: hidden
  &:before
    content: ''
    display: block
    width: 0
    height: 150%

%fontSize-aaa
  font-size: $base-fontSize * 0.75
  font-size: rem($base-fontSize * 0.75)

%fontSize-aa
  font-size: $base-fontSize * 0.875
  font-size: rem($base-fontSize * 0.875)

%fontSize-a
  font-size: $base-fontSize
  font-size: rem($base-fontSize)

%fontSize-b
  font-size: $base-fontSize * 1.125
  font-size: rem($base-fontSize * 1.125)

%fontSize-c
  font-size: $base-fontSize * 1.25
  font-size: rem($base-fontSize * 1.25)

%fontSize-d
  font-size: $base-fontSize * 1.5
  font-size: rem($base-fontSize * 1.5)

%fontSize-e
  font-size: $base-fontSize * 2
  font-size: rem($base-fontSize * 2)

%fontSize-f
  font-size: $base-fontSize * 2.5
  font-size: rem($base-fontSize * 2.5)

// -------------------------------------
//   Animations
// -------------------------------------

%transition-fast
  +transition(0.2s ease-in-out)