// *************************************
//
//   Helpers
//   -> Extends, Functions, Mixins, Animations
//
// *************************************

// -------------------------------------
//   Extends
// -------------------------------------

// ----- Debug ----- //

%debug {
  background-color: pink !important;
}

// ----- Ellipsis ----- //

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ----- Clearfix ----- //

%group {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

// ----- Image Replacement ----- //

%ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 150%;
  }
}

// -------------------------------------
//   Functions
// -------------------------------------

// ----- strip units ----- //

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// ----- em ----- //

@function em($target, $context: $base-fontSize-a) {
  @if ($target == 0) {
    @return 0;
  } @else {
    @return #{$target / $context}em
  }
}

// ----- rem ----- //

@function rem($size) {
  @return #{$size / $base-fontSize-a}rem;
}

// -------------------------------------
//   Mixins
// -------------------------------------

// ----- Respond-to ----- //

@mixin respond-to($val, $query: min-width, $media: screen) {
  @media #{$media} and ($query: $val) {
    @content
  }
}

// -------------------------------------
//   Animations
// -------------------------------------

