// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Row
// -------------------------------------

.l-row, %l-row {
  margin: 0 auto;

  @extend %group;
}


// -------------------------------------
//   Cell
// -------------------------------------

.l-cell, %l-cell {
  max-width: rem($l-maxWidth);
  padding: 0 rem($base-whitespace);
  margin: 0 auto;

  @extend %group;

  @include respond-to(40em) {
    padding: 0 rem($base-whitespace * 2);
  }

  @include respond-to(60em) {
    padding: 0 rem($base-whitespace * 3);
  }

}


// -------------------------------------
//   Grid
// -------------------------------------

.l-grid { // container for grid-box 
  margin-left: rem(-$base-whitespace);
  margin-right: rem(-$base-whitespace);

  @extend %group;
}

@for $i from 1 through 12 {

  .l-grid-box--#{$i} {
    @extend %group;

    padding: 0 rem($base-whitespace);

     @include respond-to($bp-grid) {
       width: percentage($i/12);

       float: left;
     }
  }
}


// -------------------------------------
//   Site Header
// -------------------------------------

.l-header {
  margin: rem($base-whitespace) 0;

  position: relative;

  .logo {
    border-bottom: em(1px) solid transparent;

    float: left;

    color: $base-color;

    &:hover, &:focus {
      border-bottom: em(1px) solid $base-link-background;

      color: $base-link-color;
      background-color: transparent;
      @include box-shadow(none);
    }
  }
}


// -------------------------------------
//   Site Navigation
// -------------------------------------

.l-nav {
  float: right;

  @extend %group;

  ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
  }

  li {
    margin: 0;

    float: left;

    @include respond-to(20em) {
      margin-left: 1em;
    }
  }

  a {
    border-bottom: em(1px) solid transparent;

    font-weight: normal;

    color: $base-color;

    &:hover, &:focus {
      border-bottom: em(1px) solid $base-link-background;

      color: $base-link-color;
      background-color: transparent;
      @include box-shadow(none);
    }
  }
}


// -------------------------------------
//   Site Main Content Area
// -------------------------------------

.l-content {
  
}


// -------------------------------------
//   Site Footer
// -------------------------------------

.l-footer {
  border-top: 4px solid mix($base-color-primary, $base-background, 85%);
  padding-top: rem($base-whitespace);
  margin-top: rem($base-whitespace * 2);    

  ul {
    display: block;

    @extend %fontSize-aa;
    text-align: center;
  }
}