// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Header
// -------------------------------------

.l-header
  border-bottom: 1px solid $c-border
  margin: $b-whitespace auto $b-whitespace*2
  max-width: 33em*1.25
  max-width: calc(33em + #{$b-whitespace}*4)
  padding-bottom: $b-whitespace
  text-align: center

// -------------------------------------
//   Main Content Area
// -------------------------------------

.l-main
  margin: 0 auto
  max-width: 33em

// -------------------------------------
//   Footer
// -------------------------------------

.l-footer
  border: 1px solid $c-border
  border-left: 0
  border-right: 0
  margin: $b-whitespace*2 auto $b-whitespace
  max-width: 33em*1.25
  max-width: calc(33em + #{$b-whitespace}*4)
  padding: $b-whitespace 0

// -------------------------------------
//   Footer Quote
// -------------------------------------

.l-quote
  color: $c-text-soft
  font-size: em(14px)
  text-align: center
  +respond-to($bp-layout)
    font-size: em(16px, $b-fontSize-bp)