// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Header
// -------------------------------------

.l-header
  border-bottom: 1px solid $c-border
  margin: $b-whitespace auto $b-whitespace*2
  max-width: $l-maxWidth*1.25
  max-width: calc($l-maxWidth + #{$b-whitespace}*4)
  padding-bottom: $b-whitespace
  text-align: center

// -------------------------------------
//   Main Content Area
// -------------------------------------

.l-main
  margin: 0 auto
  max-width: $l-maxWidth

// -------------------------------------
//   Footer
// -------------------------------------

.l-footer
  border-top: 1px solid $c-border
  margin: $b-whitespace auto $b-whitespace
  max-width: $l-maxWidth*1.25
  max-width: calc($l-maxWidth + #{$b-whitespace}*4)
  padding: $b-whitespace 0 0
  +respond-to($bp-layout)
    border-bottom: 1px solid $c-border

// -------------------------------------
//   Footer Quote
// -------------------------------------

.l-quote
  color: $c-text-soft
  font-size: em(14px)
  text-align: center
  +respond-to($bp-layout)
    font-size: em(16px, $b-fontSize-bp)