// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// ...


// -------------------------------------
//   Variables
// -------------------------------------

// ----- Base Colors ----- //

$base-background: white;
$base-color: #222;

$base-color-primary: #705993;
$base-color-primary-b: #51377a;

$base-color-secondary: #6f99a5;
$base-color-secondary-b: #4e7a87;

$base-color-tertiary-b: #c66f85;
$base-color-tertiary: #d48c9e;

$base-link-color: $base-color-primary;
$base-link-background: mix($base-link-color, $base-background, 25%);


// ----- Base Borders & Box Shadows ----- //

$base-border: 1px solid $base-color;
$base-borderRadius: 3px;
$base-boxShadow: 0 1px 2px rgba($base-color, 0.25);


// ----- Base Content ----- //

$base-fontFamily: "museo-sans", "helvetica neue", helvetica, sans-serif;
$base-fontSize: 16px; // body copy size, authored
$base-fontPercentage: percentage($base-fontSize / 16px); // 16px default at 100%
$base-lineHeight: 1.5;

$base-fontSize-a: $base-fontSize;

$base-fontSize-aaa: $base-fontSize-a * 0.75;
$base-fontSize-aa: $base-fontSize-a * 0.875;

$base-fontSize-b: $base-fontSize-a * 1.125;
$base-fontSize-c: $base-fontSize-a * 1.25;
$base-fontSize-d: $base-fontSize-a * 1.5;
$base-fontSize-e: $base-fontSize-a * 1.75;
$base-fontSize-f: $base-fontSize-a * 2.25;


// ----- Base Layout ----- //

$base-whitespace: $base-fontSize-a * $base-lineHeight;
$base-gutter: 20px;

// ----- Content ----- //

$c-heading-fontFamily: "lexia", "helvetica neue", helvetica, sans-serif;
$c-code-fontFamily: menlo, monaco, "lucida console", monospace;


// ----- Layout ----- //

$l-maxWidth: 32rem;


// ----- Breakpoints ----- //

$bp-sidenotes: 56.7em;

