// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------



// -------------------------------------
//   Variables
// -------------------------------------

// ----- Base Colors ----- //

$c-text: #222
$c-text-soft: #666
$c-heading: #333
$c-background: white
$c-primary: #705b91
$c-border: #ccc

// ----- Base Borders & Box Shadows ----- //

$b-borderRadius: 10px

// ----- Base Content ----- //

$b-fontSize: 16px
$b-fontSize-bp: 22px
$b-lineHeight: 1.618

// ----- Base Layout ----- //

$b-whitespace: 1rem * $b-lineHeight // one lead @16px

// ----- Content ----- //

$b-fontFamily: "ff-tisa-sans-web-pro", "open sans", "lucida grande", "helvetica neue", sans-serif
$b-fontFamily-heading: "ff-tisa-web-pro", georgia, palatino, "palatino linotype", serif
$b-fontFamily-monospace: menlo, monaco, "andale mono", courier, "lucida console", monospace

// ----- Layout ----- //

$l-maxWidth: 33em

// ----- Breakpoints ----- //

$bp-layout: 50em
$bp-sidenotes: $bp-layout*1.5