// *************************************
//
//   Card
//   -> Individual style containers
//
// *************************************

.card
  background-color: $c-invert
  // border-radius: $b-borderRadius
  position: relative
  padding: $b-whitespace

