// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// *************************************

.cell
  margin-bottom: $b-whitespace
  margin-left: auto
  margin-right: auto
  margin-top: $b-whitespace
  max-width: $b-maxWidth
  position: relative

