// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// *************************************

.row
  overflow: hidden
  padding: 0 $b-whitespace

// -------------------------------------
//   Modifiers
// -------------------------------------

.row--b
  @extend .bch

.row--c
  padding-bottom: $b-whitespace-xl