---
layout: default
title: Home
description: Web designer and front-end developer in Orlando, Florida.
dribbble: true
---

<section class="row mbl">
    <div class="cell">
        <div class="hero">
            <div class="grid">
                <div class="grid-box grid-box--m--3of5 grid-box--l--1of2">

                    <h1 class="hero-title">John D. Jameson</h1>
                    <p>Web designer and front&#8209;end developer in Orlando,&nbsp;Florida.</p>
                    <p>I’m passionate about typography, lifelong learning, and building useful things for <em>people</em>.</p>

                    <ul class="list--inline">
                        <li class="list-item"><a href="">Twitter</a></li>
                        <li class="list-item"><a href="">Dribbble</a></li>
                        <li class="list-item"><a href="">CodePen</a></li>
                        <li class="list-item"><a href="">GitHub</a></li>
                    </ul>

                    <!-- <a href="" class="btn mbl">Résumé (PDF)</a> -->
                </div>

                <div class="grid-box grid-box--m--2of5 grid-box--l--1of2">
                    <img class="hero-image" src="/img/ampersand-code.png" alt="An ampersand atop some JavaScript">
                </div>
            </div>
        </div>

    </div>
</section>

<section class="row mbm">
    <div class="cell">

        <div class="grid">
            <div class="grid-box grid-box--m--1of2">
                <h2>Newest Post</h2>

                {% for post in site.categories.blog limit:1 %}
                <div>
                    <h3 class="mbf"><a href="{{post.url}}">{{post.title-display}}</a></h3>
                    <time class="label db mbm" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: "%B %d, %Y" }}</time>

                    <p>{{post.description | strip_html }} <a href="{{post.url}}">Read&nbsp;→</a></p>

                </div>
                {% endfor %}
            </div>

            <div class="grid-box grid-box--m--1of2">
                <h2>More Posts</h2>

                <div class="recentPosts mbs">
                    {% for post in site.categories.blog offset:1 %}
                    <div class="recentPosts-post">
                        <h3 class="recentPosts-title">
                            <a href="{{post.url}}">{{post.title-display}}</a>
                        </h3>
                        <time class="recentPosts-date" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: "%B %d, %Y" }}</time>
                    </div>
                    {% endfor %}
                </div>
                <a class="btn mts" href="/blog/">My Sweet Blog →</a>
            </div>
        </div>

    </div>
</section>

<section class="js-dribbble"></section>