---
layout: default
title: Home
description: Web designer and front-end developer in Orlando, Florida.
---

<div class="row">
    <div class="cell">

        <div class="grid">
            <div class="grid-box grid-box--m--1of2">
                <h1>John D. Jameson</h1>
                <p>Web designer and front-end developer in Orlando, Florida.</p>
                <p>I’m passionate about typography, lifelong learning, and building useful things for <em>people</em>.</p>

                <ul class="list--inline">
                    <li class="list-item"><a href="">Twitter</a></li>
                    <li class="list-item"><a href="">Dribbble</a></li>
                    <li class="list-item"><a href="">CodePen</a></li>
                    <li class="list-item"><a href="">GitHub</a></li>
                </ul>

                <a href="" class="btn">Résumé (PDF)</a>
            </div>

            <div class="grid-box grid-box--m--1of2">
                <img style="opacity: 0.85;" src="/img/ampersand-code.png" alt="A ampersand atop JavaScript">
            </div>
        </div>

    </div>
</div>

<main class="row">
    <div class="cell">

        <div class="grid">

            <div class="grid-box grid-box--m--1of2">
                {% for post in site.categories.blog limit:1 %}
                <div>
                    <h2><a href="{{post.url}}">{{post.title-display}}</a></h2>
                    <time class="ttu">{{ post.date | date: "%B %d, %Y" }}</time>


                    <p>{{post.description | strip_html }} <a href="{{post.url}}">Read&nbsp;&raquo;</a></p>

                </div>
                {% endfor %}
            </div>

            <div class="grid-box grid-box--m--1of2">
                <h2 class="tac">Recent Posts</h2>

                <div class="recentPosts mbs">
                    {% for post in site.categories.blog offset:1 %}
                    <div class="recentPosts-post">
                        <h3 class="recentPosts-title">
                            <a href="{{post.url}}">{{post.title-display}}</a>
                        </h3>
                        <time class="recentPosts-date">{{ post.date | date: "%B %d, %Y" }}</time>
                    </div>
                    {% endfor %}
                </div>
                <a href="/blog/">Read More on the Blog &raquo;</a>
            </div>

        </div>

    </div>
</main>
