@import "src/app/layers.css";
@import "src/app/modern-normalize-layer.css";
@import "src/app/font-cendra.css";

@layer reset.local {
  * {
    padding: 0;
    margin: 0;
  }

  html {
    tab-size: 2; /* Override modern-normalize */
  }

  img {
    height: auto;
    max-width: 100%;
  }

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
}

@layer base {
  :root {
    --color-text-primary: 0 0 0;
    --color-surface-background: 255 255 255;

    --font-mono: "Monaco", ui-monospace, SFMono-Regular, "Menlo", "Consolas",
      "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono",
      "Liberation Mono", monospace;
    --font-cendra: cendra-web, cendra-web-fallback-helvetica-neue,
      cendra-web-fallback-arial, var(--font-mono);
    --font-sans: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;

    --lineHeight-body: 1.5;
    --lineHeight-heading: 1.25;

    --radius-base: 6px;

    --space-25: 2px;
    --space-50: 4px;
    --space-100: 8px;
    --space-150: 12px;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-700: 56px;
    --space-800: 64px;
    --space-900: 80px;
    --space-1000: 96px;
    --space-1100: 112px;
    --space-1200: 128px;

    --layout-gutter: var(--space-300);
    --layout-container-width: 1280px;
    --layout-container-width-narrow: clamp(700px, 43.75rem, 800px);
    --layout-container-width-padding-x: max(
      var(--layout-gutter),
      calc((100vw - var(--layout-container-width)) / 2)
    );
    --layout-container-width-narrow-padding-x: max(
      var(--layout-gutter),
      calc((100vw - var(--layout-container-width-narrow)) / 2)
    );
  }

  html {
    background: rgb(var(--color-surface-background));
    color: rgb(var(--color-text-primary));
    line-height: var(--lineHeight-body);
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-family: var(--font-sans);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: var(--lineHeight-heading);
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-mono);
  }

  :focus-visible {
    outline: 3px solid rgb(223 0 151);
    outline-offset: 2px;
    outline-style: dotted;
  }

  ::selection {
    background: rgb(223 0 152 / 0.2);
  }
}
