@layer component {
  .container {
    padding-bottom: var(--space-1100);
    padding-left: var(--layout-container-width-padding-x);
    padding-right: var(--layout-container-width-padding-x);
  }

  .hero {
    margin-bottom: var(--space-600);
    margin-top: var(--space-300);
  }

  .h2 {
    color: rgb(72 57 226 / 0.81);
    margin-bottom: 1em;
    font-size: clamp(24px, calc(0.75rem + 1.75cqw), 32px);
    font-family: var(--font-cendra);
  }

  .post {
    container-type: inline-size;
    font-size: clamp(16px, calc(0.5rem + 1.75cqw), 20px);
  }

  .post:not(:last-child) {
    border-bottom: 2px solid rgb(230 225 233);
    padding-bottom: 1.35em;
    margin-bottom: 1.35em;
  }

  .postTitle {
    font-family: var(--font-cendra);
    font-size: clamp(18px, calc(0.5625rem + 1.75cqw), 24px);
    line-height: var(--lineHeight-heading);
    margin-bottom: 0.25em;
  }

  .postDescription {
  }

  @media (hover) {
    .postLink:hover {
      text-decoration: underline;
    }
  }
}
