.overlap {
  font-size: 90px;
  font-weight: 900;
  position: relative;
}

.fallback {
  color: red;
  font-family: cendra-web-fallback-helvetica-neue;
  font-family: cendra-web-fallback-arial;
  position: absolute;
  width: 100%;
}

.primary {
  font-family: cendra-web;
  position: relative;
}
