@layer component {
  .header {
    align-items: center;
    display: flex;
    height: 80px;
    padding-left: var(--layout-container-width-padding-x);
    padding-right: var(--layout-container-width-padding-x);
  }

  .logoLink {
    display: block;
  }
}
