@layer component {
  .highlighter {
    --syntax-highlighter-gutter: var(--space-300);
    background: #090513;
    border-radius: var(--radius-base);
    color: #fff;
    container-type: inline-size;
    font-family: Monaco, Menlo, monospace;
    line-height: var(--lineHeight-body);
    overflow: hidden;
  }

  .header {
    background: #191527;
    color: white;
    font-size: clamp(10px, calc(0.3125rem + 1.75cqw), 12px);
    font-weight: 600;
    padding: var(--space-100) var(--syntax-highlighter-gutter);
  }

  .headerCaps {
    letter-spacing: 0.05em;
  }

  .pre {
    font-family: var(--font-mono);
    font-size: clamp(12px, calc(0.375rem + 1.75cqw), 14px);
    padding: var(--syntax-highlighter-gutter);
  }
}
