%header.mv-header{ role: 'banner' }
  .row
    .cell.well
      .mv-g.aife
        .mv-g-b.mv-g-b--3of5.mv-g-b--4of5_m

          .aife.df
            = link_to '/index.html', class: 'db mrm' do
              = image_tag 'johndjameson-logo.svg', class: 'db logo'

            - unless current_page.path == 'index.html'
              %div.dn.db_m
                %p.mbf.tss.tw7 John D. Jameson
                %p.mbf.tsi.tss Articles on web typography

        .mv-g-b.mv-g-b--2of5.mv-g-b--1of5_m.tar

          = link_to 'About', '/about.html', class: 'tss tw7'
