%head
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  %title= page_title

  %meta{ name: 'description', content: escape_html(current_page.data.description) }

  = stylesheet_link_tag 'application'
