%header.row.bch{ role: 'banner' }
  .well.well--s.well--m--m

    .split.split--center
      .split-cell
        = link_to '/index.html' do
          = image_tag 'johndjameson-logo.svg', class: 'logo bcb'
      .split-cell
        %p.mbf.tci.tss
          Built with
          = link_to 'MVCSS', links.mvcss, class: 'link link--bordered link--inverted'
          and
          = link_to 'Spellbook', links.spellbook, class: 'link link--bordered link--inverted'
