// *************************************
//
//   Button
//   -> Clickable control
//      CodePen: http://codepen.io/drewbarontini/pen/yAveh
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .btn
//
// *************************************

.btn
  +action
  +font-size(( b: $btn-fontSize ))
  background: $btn-background
  border-radius: $btn-borderRadius
  color: $btn-color
  font-family: $b-fontFamily-mono
  font-weight: $b-fontWeight-bold
  letter-spacing: 2px
  line-height: $btn-height
  margin-right: $btn-pseudo-width
  padding-left: $btn-space
  padding-right: $btn-space-s
  position: relative
  text-transform: uppercase
  word-spacing: 0

  &::before
    border-color: $btn-background transparent transparent transparent
    border-style: solid
    border-width: $btn-height $btn-pseudo-width 0 0
    content: ''
    height: 0
    left: 100%
    position: absolute
    top: 0
    transition: $b-transition
    width: 0

  +state
    background: $btn--state-background
    color: $btn-color

    &::before
      border-top-color: $btn--state-background
