// *************************************
//
//   List
//   -> Enumeration of items
//      CodePen: http://codepen.io/drewbarontini/pen/ouqil
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %ul.list[divided object]
//   %li.list-item List Item
//   %li.list-item List Item
//
// *************************************

.list {
  @extend .lr;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Bulleted ----- //

.list--bulleted {
  > .list-item {
    position: relative;

    &::before {
      content: "▫ ";
      position: absolute;
      right: 100%;
      top: 0;
      white-space: pre;
    }
  }
}

// ----- Divided ----- //

.list--divided {
  > .list-item {
    border-bottom: $b-border;
    padding-bottom: $b-space;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

// ----- Sizes ----- //

.list--s {
  > .list-item {
    margin-bottom: $b-space-s;
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Item ----- //

.list-item {
  display: block;
  margin-bottom: $b-space;

  &:last-child {
    margin-bottom: 0;
  }
}
