// *************************************
//
//   Pillar
//   -> Vertically capped container
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
//  .pillar
//    / ...
//
// *************************************

.pillar
  border-bottom: $pillar-border
  border-top: $pillar-border
  padding-bottom: $b-space
  padding-top: $b-space
