// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row
//   / ...
//
// *************************************

.row
  border-bottom: 1px solid transparent
  border-top: 1px solid transparent
  padding: 0 $b-space

  +respond-to($g-m)
    padding: 0 $b-space-l
