// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row
//   / ...
//
// *************************************

.row
  overflow: hidden
  padding: 0 $b-space-s

  +respond-to( $g-m )
    padding: 0 $b-space
