// *************************************
//
//   Split
//   -> Horizontally repellent content
//
// *************************************

.split
  list-style-type: none
  margin: 0
  padding: 0

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Split Item ----- //

.split-item
  display: table
  width: 100%
  img
    max-width: none

// ----- Split Item ----- //

.split-cell
  display: table-cell

// Fixed width

.split-cell--fixed
  white-space: nowrap // Forces support text to display on a single line

// Fluid width

.split-cell--fluid
  width: 10000px // http://jsfiddle.net/necolas/rZvEF/

