// *************************************
//
//   Well
//   -> Vertical spacing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .well[l]
//   / ...
//
// *************************************

.well {
  margin-bottom: $b-space;
  margin-top: $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.well--l {
  margin-bottom: $b-space-l;
  margin-top: $b-space-l;
}

.well--2 {
  margin-bottom: $b-space * 2;
  margin-top: $b-space * 2;
}

.well--4 {
  margin-bottom: $b-space * 4;
  margin-top: $b-space * 4;
}

// Responsive

@include respond-to($g-m) {
  .well--4_m {
    margin-bottom: $b-space * 4;
    margin-top: $b-space * 4;
  }
}
