// *************************************
//
//   Well
//   -> Vertical spacing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .well[l]
//   / ...
//
// *************************************

.well
  margin-bottom: $b-space
  margin-top: $b-space

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

// Large

.well--l
  margin-bottom: $b-space-l
  margin-top: $b-space-l

.well--4
  margin-bottom: $b-space * 4
  margin-top: $b-space * 4
