// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

.blockHeader {
  padding: rem($base-whitespace) rem($base-gutter);
  border-top: rem(4px) solid mix($base-color-primary, $base-background, 85%);
  border-bottom: rem(4px) solid mix($base-color-primary, $base-background, 85%);
  margin: 0 rem(-$base-gutter) rem($base-whitespace);

  position: relative;

  color: $base-color-primary;

  > :last-child {
  	margin-bottom: 0;
  }

  &::after {
    display: block;
    width: rem(32px);
    height: rem(32px);
    margin-top: rem(-16px);
    margin-left: rem(-16px);

    position: absolute;
    top: 100%;
    left: 50%;

    font-size: rem(24px);
    line-height: rem(32px);
    text-align: center;

    content: "\2665";

    color: mix($base-color-primary, $base-background, 95%);
    background-color: $base-background;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

.blockHeader-main {
  margin-bottom: 0.25em;

  font-weight: bold;
  text-align: center;

  color: inherit;
}

.blockHeader-support {
  @extend %fontSize-aa;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;

  color: mix($base-color-primary, $base-background, 90%);
}
