// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

.blockHeader {
  padding: rem($base-whitespace) rem($base-whitespace);
  margin-bottom: rem($base-whitespace);

  position: relative;

  color: $base-background;
  background-color: $base-color-primary;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

.blockHeader-main {
  margin: 0;

  font-weight: bold;
  text-align: center;

  color: inherit;

  &:not(:last-of-type) {
    margin-bottom: rem($base-whitespace / 4);
  }
}

.blockHeader-support {
  margin-bottom: 0;

  @extend %fontSize-aa;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;

  color: mix($base-background, $base-color-primary, 67%);
}