// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

.icon, %icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// -------------------------------------
//   Modifiers
// -------------------------------------

.icon--rss::before {
  @extend %icon;

  content: "\e605";
}

.icon--feed::before {
  @extend %icon;

  content: "\e604";
}


// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule

