// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

.inlineList {
  display: block;
  padding: 0;

  list-style-type: disc;

  @extend %group;

  li {
    display: inline-block;

    &:last-child {
      &::after {
        content: "";
      }
    }

    &::after {
      margin-left: 0.25em;
      content: "\2022";

      color: $base-link-background;
    }
  }
}


// -------------------------------------
//   Modifiers
// -------------------------------------

// .post--modifier


// -------------------------------------
//   States
// -------------------------------------

// .is-module-state


// -------------------------------------
//   Context
// -------------------------------------

// .has-module


// -------------------------------------
//   Submodules
// -------------------------------------

