// *************************************
//
//   List
//   -> For non-standard <ol> and <ul>
//      lists and list elements
//
// *************************************

.list


// -------------------------------------
//   Modifiers
// -------------------------------------

// .list--latest

// -------------------------------------
//   States
// -------------------------------------

// .is-list-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-list

// -------------------------------------
//   Sublists
// -------------------------------------

.list--inline
  display: inline-block
  list-style-type: none
  padding: 0

  li
    display: inline-block
    margin-right: 0.5em

    &::before
      color: $base-link-background
      content: "\2022"
      margin-right: 0.5em

.list--icon
  @extend %fontSize-e
  @extend %group
  list-style-type: none
  margin: 0
  padding: 0
  text-align: center

  li
    display: block
    float: left
    width: percentage(1/3)

  a
    border: 0

    &:hover, &:focus
      +box-shadow(none)
      background-color: transparent
      color: mix($base-link-color, $base-link-background)