// *************************************
//
//   List
//   -> Variations on your standard ol
//      and ul elements.
//
// *************************************

// .list

// -------------------------------------
//   Modifiers
// -------------------------------------

.list--block, %list--block
  list-style-type: none
  margin: 0
  padding: 0
  li
    &::before
      content: ""

.list--social
  @extend %list--block
  border-top: 1px solid $c-border
  text-align: center
  li
    border-bottom: 1px solid $c-border
    padding: $b-whitespace/2
  +respond-to($bp-layout)
    border: 0
    margin: 0
    padding-top: 0
    text-align: left
    li
      border: 0
      padding: 0


// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule

