// *************************************
//
//   Logo
//   -> It's my name, yo.
//
// *************************************

.logo
  border: 0
  color: $c-heading
  font-family: $b-fontFamily-heading
  font-size: em(22px)
  +respond-to($bp-layout)
    font-size: em(26px, $b-fontSize-bp)

// -------------------------------------
//   Modifiers
// -------------------------------------

.logo--b
  font-family: $b-fontFamily-heading

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule

