// *************************************
//
//   Post
//   -> This is a self-contained blog
//      post.
//
// *************************************

.post
  line-height: percentage($b-lineHeight)
  margin: 0 auto

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

.post-header
  border: 2px solid $c-heading
  border-left: 0
  border-radius: 0 $b-borderRadius $b-borderRadius 0
  color: $c-heading
  margin: 0 0 $b-whitespace*2 0
  padding: $b-whitespace $b-whitespace $b-whitespace 0
  position: relative
  +respond-to($bp-layout)
  padding: $b-whitespace*2 $b-whitespace $b-whitespace*2 0

.post-date
  background-color: $c-background
  bottom: 100%
  font-size: em(14px)
  left: 0
  letter-spacing: 0.2em
  line-height: 1
  margin-bottom: -0.2em
  padding-right: 0.5em
  position: absolute
  text-transform: uppercase
  +respond-to($bp-layout)
    font-size: em(16px, $b-fontSize-bp)
