// *************************************
//
//   Post
//   -> This is a self-contained blog
//      post.
//
// *************************************

.post
  margin: 0 auto

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Post Header ----- //

.post-header
  color: $c-heading
  margin: 0 0 $b-whitespace*2 0
  padding-top: $b-whitespace
  position: relative

// ----- Post Title ----- //

.post-title
  text-align: center
  margin-top: 0

// ----- Post Date ----- //

.post-date
  background-color: $c-background
  bottom: 100%
  font-size: em(14px)
  left: 0
  letter-spacing: 0.2em
  line-height: 1
  margin-bottom: -1em
  position: absolute
  right: 0
  text-align: center
  text-transform: uppercase
  +respond-to($bp-layout)
    font-size: em(16px, $b-fontSize-bp)

// ----- Post Intro ----- //
.post-intro
  @extend %c-smallcaps

// ----- Post Marker ----- //

.post-marker
  font-size: 70%
  position: relative
  top: -0.4em
  .post.has-sidenotes &
    +respond-to($bp-sidenotes)
      display: none
  &::before // thin-nonbreaking space that works cross-browser
    content: "\00a0" // normal nbsp
    font-size: 0.25em // then make it small
  a
    letter-spacing: 1px
    &::before
      content: "["
    &::after
      content: "]"

// ----- Post Footnotes ----- //

.post-footnotes
  border-top: 1px solid $c-border
  color: $c-text-soft
  font-size: em(14px)
  margin: 0
  padding-top: $b-whitespace
  +respond-to($bp-layout)
    font-size: em(16px, $b-fontSize-bp)
  .post.has-sidenotes &
    +respond-to($bp-sidenotes)
      display: none

// ----- Post Subject ----- //

.post-subject
  position: relative
  line-height: percentage($b-lineHeight)

// ----- Post Sidenote ----- //

.post-sidenote
  color: $c-text-soft
  display: none
  left: 100%
  font-size: em(14px)
  font-style: italic
  padding-left: $b-whitespace
  position: absolute
  top: 0
  width: 25%
  .post.has-sidenotes &
    +respond-to($bp-sidenotes)
      display: block
      font-size: em(16px, $b-fontSize-bp)
