// *************************************
//
//   Preview
//   -> Links to blog posts
//
// *************************************

.preview
	border-left: 4px solid $base-color-a
	margin-bottom: rem($base-whitespace * 1)
	padding: rem($base-whitespace / 2) 0 rem($base-whitespace / 2) rem($base-whitespace)

// -------------------------------------
//   Modifiers
// -------------------------------------

// .preview--latest

// -------------------------------------
//   States
// -------------------------------------

// .is-preview-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-preview

// -------------------------------------
//   Subpreviews
// -------------------------------------

// ----- Subpreview ----- //

.preview-title
	margin-bottom: 0

.preview-date
	@extend %c-shout
	@extend %fontSize-aa
	color: $base-color-soft
	margin-bottom: rem($base-whitespace / 2)