// *************************************
//
//   Preview
//   -> Chills on the home page,
//      links to blog posts
//
// *************************************

.preview
	padding-left: rem($base-whitespace)
	border-left: 4px solid $base-color-a

// -------------------------------------
//   Modifiers
// -------------------------------------

// .preview--latest

// -------------------------------------
//   States
// -------------------------------------

// .is-preview-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-preview

// -------------------------------------
//   Subpreviews
// -------------------------------------

// ----- Subpreview ----- //

.preview-title
	margin-bottom: 0