// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

.preview {
  padding: rem($base-whitespace);
  border: 2px solid mix($base-color-primary, $base-background, 55%);
  border-top-width: rem(4px);
  margin-bottom: rem($base-whitespace);

  position: relative;

  :last-child {
    margin-bottom: 0;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

.preview-title {
  margin-bottom: rem($base-whitespace / 4);
}

.preview-tagline {
  @extend %fontSize-aa;
}