// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

.preview {
  width: 100%;
  padding: rem($base-whitespace);
  border: 2px solid mix($base-color-primary, $base-background, 65%);
  border-top-width: rem(4px);
  margin-bottom: rem($base-whitespace);

  position: relative;
  float: left;

  background-color: white;
  background-color: rgba(white, 0.67);

  > :last-child {
    margin-bottom: 0;
  }
}




// -------------------------------------
//   Modifiers
// -------------------------------------

.preview--latest {
  @extend .preview;
}

.preview--recent {
  @extend .preview;

  .preview-title {
    @extend %fontSize-c;
  }
}

.preview--old {
  @extend .preview;

  padding-top: 0;
  padding-bottom: 0;
  // border-width: 2px;
  margin-bottom: 0;

  .preview-title {
    @extend %fontSize-b;
  }
}

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

.preview-title {
  margin-top: 0;
  margin-bottom: rem($base-whitespace / 4);
}

.preview-tagline {
  @extend %fontSize-aa;
}