// *************************************
//
//   Well
//   -> An called-out area for code, etc.
//
// *************************************

.well, %well
  background-color: #f4f4f4
  border: 1px solid $c-border
  border-radius: $b-borderRadius
  margin: 0 0 $b-whitespace 0
  overflow: auto
  padding: $b-whitespace

.highlight
  @extend %well

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule

