// *************************************
//
//   Button
//   -> You click it, things happen.
//
// *************************************

.btn
  @extend .tsm
  cursor: pointer
  display: inline-block
  font-weight: 600
  margin: 0
  padding: $b-whitespace-s $b-whitespace
  position: relative
  white-space: nowrap

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

$btn-a-background-light: #ad7da9
$btn-a-background: #975997
$btn-a-background-dark: #6b518c
$btn-a-borderColor: #2b457b
$btn-a-borderRadius: $b-borderRadius
$btn-a-borderWidth: 1px

.btn--a
  border: 1px solid $btn-a-borderColor
  border-radius: $btn-a-borderRadius
  box-shadow: inset 0 1px 0 $btn-a-background-light, 0 3px 0 $btn-a-borderColor
  color: $c-invert
  line-height: 1.25
  text-shadow: 0 -1px 0 $btn-a-borderColor
  transition: none
  &::before, &::after
    backface-visibility: hidden // Addresses Safari transition flicker
    border-radius: $btn-a-borderRadius - $btn-a-borderWidth
    bottom: 0
    content: ''
    left: 0
    position: absolute
    right: 0
    transition: $b-transition
    top: 0
    z-index: -1
  &::before
    background-image: linear-gradient(#c77ebf, #9d73b9)
  &::after
    background-image: linear-gradient($btn-a-background, $btn-a-background-dark)
  &:hover, &:focus
    color: $c-invert
    &::after
      opacity: 0.5
  &:active
    box-shadow: inset 0 1px 0 $btn-a-background-light, 0 1px 0 $btn-a-borderColor
    top: 2px
