// *************************************
//
//   Footer
//   -> Bottom of the page, yo.
//
// *************************************

.footer

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.footer-content
  border-bottom: $b-border
  border-top: $b-border
  margin-bottom: $b-whitespace
  padding-top: $b-whitespace-l
  +respond-to($bp-grid-m)
    padding-bottom: $b-whitespace

.footer-list
  @extend .tss
  @extend .list--unstyled
  @extend .list--flat
  +respond-to($bp-grid-m, 'max-width')
    border-top: $b-border
    > li
      padding-bottom: $b-whitespace-s
      padding-top: $b-whitespace-s
      text-align: center
      &:not(:last-of-type)
        border-bottom: $b-border

