// *************************************
//
//   Footer
//   -> Bottom of the page, yo.
//
// *************************************

.footer

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.footer-content
  @extend .mbm
  border-bottom: $b-border
  border-top: $b-border
  padding-top: $b-whitespace-l

