// *************************************
//
//   Strucutre
//   -> This is an example structure
//
// *************************************

.header
  margin-bottom: $b-whitespace
  padding-left: $b-whitespace
  padding-right: $b-whitespace

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.header-content
  @extend .mhc
  border-bottom: $b-border
  display: table
  line-height: 1
  max-width: $b-maxWidth
  padding-bottom: $b-whitespace
  padding-top: $b-whitespace
  width: 100%
  +respond-to($bp-fontSize)
    padding-bottom: $b-whitespace-l
    padding-top: $b-whitespace-l

.header-masthead
  display: table-cell

.header-navigation
  @extend .tar
  display: table-cell
