// *************************************
//
//   Image Figure
//   -> This is an example structure
//      Based on:
//      * http://alistapart.com/blog/post/more-thoughts-about-blockquotes-than-are-strictly-required
//
//
// *************************************

.imageFigure
  @extend .mbmrl
  @extend .mtmrl
  margin-left: 0
  margin-right: 0
  > figcaption
    @extend .tss
    color: $c-subdue
    font-style: italic
    text-align: center
  > img
    margin-bottom: $b-whitespace-s


// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

