// *************************************
//
//   List
//   -> Variations on your standard ol
//      and ul elements.
//
// *************************************

// .list

// -------------------------------------
//   Modifiers
// -------------------------------------

.list--inline
  padding: 0
  > li
    @extend .dib
    @extend .mrs

.list--unstyled
  list-style: none
  margin: 0
  padding: 0

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule

