// *************************************
//
//   Logo
//   -> It's my logo, yo.
//
// *************************************

.logo

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Scaffolding
// -------------------------------------

.logo-image
  margin-right: $b-whitespace-s
  width: 60px
  +respond-to($bp-fontSize)
    width: auto

.logo-tagline
  display: none
  +respond-to(400px)
    display: inline-block

