// *************************************
//
//   Nav
//   -> Primary site navigation
//
// *************************************

.nav

// -------------------------------------
//   Modifiers
// -------------------------------------

// .nav--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Nav List ----- //

.nav-list
  @extend .list--inline
  @extend .mbf

// ----- Nav Item ----- //

.nav-item
  @extend .mbf
  &:not(:first-of-type)
    &::before
      content: "\2022" // utf bullet •
      margin-right: $b-whitespace-s
      opacity: 0.8

// ----- Nav Link ----- //

.nav-link
  border: 0
  color: inherit
  font-weight: inherit
  &:hover, &:focus
    @extend .tch