// *************************************
//
//   Post
//   -> This is a self-contained blog
//      post.
//
// *************************************

.post
  h2
    @extend .mtm
    +respond-to($bp-fontSize)
      margin-top: $b-whitespace-l
  img
    @extend .db
    @extend .mhc

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Post Marker ----- //

.post-marker
  @extend .por
  font-size: 70%
  top: -0.4em
  .post.has-sidenotes &
    +respond-to($bp-sidenotes)
      display: none
  &::before // thin-nonbreaking space that works cross-browser
    content: "\00a0" // normal nbsp
    font-size: 0.25em // then make it small
  a
    letter-spacing: 1px
    &::before
      content: "["
    &::after
      content: "]"

// ----- Post Footnotes ----- //

.post-footnotes
  @extend .tcs
  @extend .tss
  border-top: 1px solid $b-borderColor
  margin: 0
  padding-left: $b-whitespace
  padding-top: $b-whitespace
  .post.has-sidenotes &
    +respond-to($bp-sidenotes)
      display: none

// ----- Post Subject ----- //

.post-subject
  position: relative
  line-height: percentage($b-lineHeight)

// ----- Post Sidenote ----- //

.post-sidenote
  @extend .tcs
  @extend .tss
  @extend .tsi
  @extend .dn
  @extend .poa
  left: 100%
  padding-left: $b-whitespace
  top: 0
  width: 25%
  .post.has-sidenotes &
    +respond-to($bp-sidenotes)
      display: block
      font-size: percentage($b-fontSize-m/$b-fontSize-bp)
