// *************************************
//
//   Strucutre
//   -> This is an example structure
//      Based on:
//      * http://alistapart.com/blog/post/more-thoughts-about-blockquotes-than-are-strictly-required
//
//
// *************************************

.quotation
  @extend .mbmrl
  @extend .mtmrl
  border-left: $b-border
  font-style: italic
  margin-left: 0
  margin-right: 0
  padding-left: $b-whitespace
  +respond-to($bp-fontSize)
    padding-left: $b-whitespace-l

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.quotation-body
  margin-bottom: $b-whitespace
  margin-left: 0
  margin-right: 0

.quotation-citation
  @extend .tss
  &::before
    margin-right: $b-whitespace-s
    content: '—' // Em dash

