// *************************************
//
//   Split
//   -> Fixed-width key:value faux-table
//      Based on https://github.com/csswizardry/inuit.css/blob/master/objects/_split.scss
//
// *************************************

.split
  @extend .list--unstyled

// -------------------------------------
//   Modifiers
// -------------------------------------

.split--divided
  border-top: $b-border
  .split-item
    border-bottom: $b-border
    margin-bottom: 0
    padding-bottom: $b-whitespace-s
    padding-top: $b-whitespace-s

.split--responsive
  display: block
  .split-title,
  .split-support
    +respond-to($bp-grid-m, 'max-width')
      display: block
      padding-left: 0
      white-space: normal
      width: 100%

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.split-item
  display: table
  width: 100%

.split-title
  display: table-cell
  width: 10000px // http://jsfiddle.net/necolas/rZvEF/

.split-support
  display: table-cell
  padding-left: $b-whitespace
  white-space: nowrap // Forces support text to display on a single line
