// *************************************
//
//   Tab Block
//   -> Clicking tabs reveals content
//      panes
//
// *************************************

$tabs-backgroundColor: $c-background
$tabs-borderWidth: $b-borderWidth
$tabs-transition: 0.1s ease-in-out

.tabBlock
  margin-left: 0
  margin-right: 0

.tabBlock-tabs
  @extend .list--unstyled
  @extend .group

.tabBlock-tab
  background-color: $tabs-backgroundColor
  border-color: $b-borderColor
  border-left-style: solid
  border-top: solid
  border-width: $tabs-borderWidth
  color: #b5a8c5
  cursor: pointer
  display: inline-block
  float: left
  font-weight: 600
  margin: 0
  padding: $b-whitespace-s $b-whitespace
  position: relative
  transition: $tabs-transition
  white-space: nowrap
  &:last-of-type
    border-right-style: solid
  &::before, &::after
    position: absolute
    content: ''
    display: block
    height: $tabs-borderWidth * 2
    transition: $tabs-transition
  &::before
    background-color: #b5a8c5
    left: -$tabs-borderWidth
    right: -$tabs-borderWidth
    top: -$tabs-borderWidth
  &::after
    background-color: transparent
    bottom: -$tabs-borderWidth
    left: 0
    right: 0
  +respond-to($bp-fontSize)
    padding-left: $b-whitespace-l
    padding-right: $b-whitespace-l
  &.is-active
    color: $c-highlight
    position: relative
    z-index: 1
    &::before
      background-color: $c-highlight
    &::after
      background-color: $tabs-backgroundColor

.tabBlock-content
  background-color: $tabs-backgroundColor
  border: $b-border
  padding: $b-whitespace

.tabBlock-pane
  overflow: auto

  > :last-child
    margin-bottom: 0


// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-sub

