// *************************************
//
//   Thumbnail
//   -> A thumbnail image that reveals
//      information
//
// *************************************

.thumbnail
  border: 1px solid $b-borderColor
  margin-bottom: $b-whitespace
  overflow: hidden
  padding: $b-whitespace-s
  position: relative
  &:hover, &:focus
    .thumbnail-image
      opacity: 0.25
    .thumbnail-content
      opacity: 1


// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.thumbnail-image
  display: block
  backface-visibility: hidden
  transition: $b-transition

.thumbnail-content
  left: 0
  line-height: 1 // set line height to equal 1em for predictability
  font-weight: 600
  margin-top: -0.5em // -0.5em line height offsers center for 'top: 50%'
  opacity: 0
  position: absolute
  text-align: center
  top: 50%
  transition: $b-transition
  width: 100%

.thumbnail-title
  @extend .tsm
  color: inherit
  text-shadow: 0 0 1px $c-background

