// *************************************
//
//   Unstyled Link
//   -> A hidden link.
//      Think like Strong Bad email.
//
// *************************************

.unstyledLink
  border: 0
  color: inherit
  font-weight: inherit
  &:hover
    color: inherit

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-sub

