// *************************************
//
//   Well
//   -> An called-out area for code, etc.
//
// *************************************

.well
  background-color: #f4f4f4
  border: 1px solid $b-borderColor
  border-radius: $b-borderRadius
  padding: $b-whitespace

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule

