<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{page.tagline}}">

	<title>{{page.title}} | John D. Jameson </title>

	<link rel="stylesheet" href="/css/application.css">
	<link rel="author" href="https://plus.google.com/u/0/113914298266231922059/posts">

	<script type="text/javascript" src="//use.typekit.net/yhp6wqr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

	<header class="l-header">
		<div class="l-row">
			<a class="logo" href="/">John D. Jameson</a>

			<nav class="l-nav">
				<ul>
					<li><a href="/about/">About</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- <div id="dev_log"></div> -->

	<div class="l-row">
		<main class="l-content">
			{{content}}
		</main>
	</div>

	<footer class="l-footer l-row">
		<ul class="inlineList">
			<li><a href="https://twitter.com/johndjameson">Twitter</a></li>
			<li><a href="http://codepen.io/johndjameson">CodePen</a></li>
			<li><a href="http://dribbble.com">Dribbble</a></li>
			<li><a href="/feed.xml">RSS</a></li>
		</ul>
	</footer>

	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/application.js"></script>
</body>
</html>
