---
layout: default
---

<div class="l-row">
<div class="l-cell">

	<article class="post">

			<h1 class="post-title">{{page.title-display}}</h1>

			<div class="post-meta">
				<span>{{ page.date | date: "%B %d, %Y" }}</span>
				<ul class="post-links">
					<li><a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}+by+%40johndjameson+http%3A%2F%2Fjohndjameson.com{{page.url | cgi_escape}}">Tweet</a></li>
					<li><a href="http://www.facebook.com/sharer.php?s=100&p[url]=http://johndjameson.com{{page.url | cgi_escape}}&p[title]={{page.title}}&p[summary]={{page.lead}}">Share</a></li>
					<li><a href="http://feeds.feedburner.com/johndjameson"><abbr>RSS</abbr></a></li>
				</ul>
			</div>

			{% if page.lead %}
			<p class="post-lead">{{page.lead}}</p>
			{% endif %}

		<div class="l-grid">
		<div class="l-grid-box--8">

			{{content}}

		</div>
		</div>

	</article>

</div>
</div>


<div class="l-row--a">
<div class="l-cell">
<div class="l-grid">

	<div class="l-grid-box--8">

		<h3>Leave a Comment</h3>

		<noscript>
			<p>Enable JavaScript to view comments.</p>
		</noscript>

		<div id="disqus_thread"></div>
	</div>

</div>
</div>
</div>