%section.row.mbm--m
  .cell.well.well--l

    %h1.js-orphan Questions & Answers

    .article
      :markdown

        Are you available for hire?
        ---------------------------

        Nope, I'm happily employed at #{ link_to 'Code School', data.links.codeschool }.

        But if you're looking to hire a front-end developer, you might want to
        check out #{ link_to 'Harry Roberts', data.links.csswizardry }. I
        pretty much copy everything he does anyway.

        Is it true I can follow you on Twitter?
        ---------------------------------------

        You bet &mdash; I'm #{ link_to '@johndjameson', data.links.twitter }
        over there.

        What's your email address?
        --------------------------

        Get out of here, you dumb spam robot. And tell your friends to stop
        screwing up my Google Analytics.

        Are you the same John who messaged me on OkCupid?
        -------------------------------------------------

        You could've told me _over there_ that you found my website. I don't
        really want everyone knowing about that. Good grief.

        **Update** Never mind what I just said &mdash; I don't have an account anymore.

        **Update #2** Never mind that never mind. I made a new account around
        3:00 a.m. last night.

        **Update #3** Okay, so I deleted that account, too. But, this time, I
        _promise_ I won't be back.

        Nobody really asked these questions, did they?
        ----------------------------------------------

        Oh hey, I remember you &mdash; you're the one who spoiled Santa Claus
        for Marielle Molina in the 2nd grade.

        Let me ask _you_ a question: why do you hate fun?

        Anything else I should know about you?
        --------------------------------------

        I don't have a sister named Jenna. Please stop asking.
