%section.row.mbm--m
  .cell.well.well--l

    %h1.js-orphan Questions & Answers

    .article
      :markdown

        Are you available for hire?
        ---------------------------

        Nope, I'm keeping busy day to day over at ye olde
        #{ link_to 'Code School', data.links.codeschool }.

        But if you're looking to hire a front-end developer, you might want to
        check out #{ link_to 'Harry Roberts', data.links.csswizardry }. That
        guy's awesome and I'll admit to copying pretty much everything he does
        anyway.

        Is it true I can follow you on Twitter?
        ---------------------------------------

        You bet &mdash; I'm #{ link_to '@johndjameson', data.links.twitter }
        over there. If you want to get in an argument about the merits of Adobe
        Minion on my personal site, that'd be the place to do it.

        How many Star Wars audiobooks do you own?
        -----------------------------------------

        Five so far, and they're all on Sith Lords. It feels weird getting back
        into Star Wars after the whole prequel fiasco, but listening to the
        audiobooks has been _a lot_ of fun.

        What's CSS and can I use it with WordPress?
        -------------------------------------------

        I heard React was good.

        Are you the same John who messaged me on OkCupid?
        -------------------------------------------------

        That was supposed to be a secret! You could've told me over there that
        you found my site. I don't really want _everyone_ knowing I made that
        account.

        Nobody really asked these questions, did they?
        ----------------------------------------------

        Hey, aren't you the one who spoiled Santa Claus for Marielle Molina in
        the 2nd grade? Wow, it's been years since we last talked! How are
        things?

        Anything else I should know about you?
        --------------------------------------

        I bought a lenticular poster of a bald eagle to hang on my bedroom
        wall. It is, without a doubt, the _coolest thing_ I have ever owned.
        Shout-out to kitschy museum gift shops.
