---
title: 'About'
---

%section.row.mbm--m
  .cell.well.well--l

    .mv-g
      .mv-g-b.mv-g-b--2of5_l.tac_l

        %h1.srt= prevent_widow('About')

        = image_tag 'hey-jdj.svg', alt: 'Hey, JDJ!', class: 'mbs'

        .tsi.tss
          %p.mbf.di.db_m Questions asked by people who definitely aren’t me.
          %p.mbf.di.db_m Send yours to #{ link_to '@johndjameson', links.twitter, class: 'link link--underlined' }.

      .mv-g-b.mv-g-b--4of5_m.mv-g-b--3of5_l

        %ul.list.list--bulleted.mtl
          %li.list-item
            %h2.heading.heading--2.mbs.tsb Did you really regift that Polaroid camera?

            %p.mbf
              It wasn’t my proudest moment, but she’s sure getting a lot of
              milage out of it. I’d say that’s a net win.

          %li.list-item
            %h2.heading.heading--2.mbs.tsb Want to make a microsite for my typeface?

            %p.mbf
              That sounds awesome. Send me a direct message on
              #{ link_to 'Twitter', links.twitter, class: 'link link--underlined' }
              and let’s get things started.

          %li.list-item
            %h2.heading.heading--2.mbs.tsb How many Star Wars audiobooks do you own?

            %p.mbf
              Seven so far, and they're almost all on Sith Lords. It feels
              strange getting back into Star&nbsp;Wars after the whole prequel
              fiasco, but listening to the audiobooks has been <em>a lot</em>
              of fun.

          %li.list-item
            %h2.heading.heading--2.mbs.tsb What do you think of&thinsp;…

            %p.mbf It depends.

          %li.list-item
            %h2.heading.heading--2.mbs.tsb Nobody really asked these questions, did they?

            %p.mbf
              Hey, I remember you &mdash; you're the one who spoiled Santa
              Claus for Marielle Molina in the 2nd grade!

          %li.list-item
            %h2.heading.heading--2.mbs.tsb Anything else I should know about you?

            %p.mbf
              I bought a lenticular poster of a bald eagle to hang on my
              bedroom wall. It is, without a doubt, the <em>coolest thing</em>
              I have ever owned. Big shout-out to kitschy museum gift shops.

          %li.list-item
            %h2.heading.heading--2.mbs.tsb How late were you up last night?

            %p.mbf Zzz…
