---
description: 'Front-end Developer at Code School'
---

%section.row.has-sector
  .cell.well.well--l.mtxl

    %p= lorem.sentences(2)

%section.row.mbm--m
  .cell.well.well--l

    %h2.label.mbl Blog

    %ul.list.list--divided
      - get_posts().each do |post|
        %li.list-item.split.split--responsive
          .split-cell.prs
            = link_to post.data.title, post.url
          .split-cell
            %time.label= pretty_date(post.data.date)
