---
description: 'Tutorials on web typography and front-end development.'
title: 'Web Typography'
---

%section.row.mbm--m
  .cell.well.well--l
    .mv-g.mv-g--centered
      .mv-g-b.mv-g-b--3of5_m

        %h1 The Blog

    %ul.list
      - get_posts().each do |post|
        %li.list-item
          .mv-g.mv-g--centered
            .mv-g-b.mv-g-b--2of5_m
              = link_to post.data.title, post.url, class: 'link link--underlined'
            .mv-g-b.mv-g-b--1of5_m
              %time.tsi.tss= pretty_date(post.data.date)
