---
description: 'Front-end Developer at Code School'
---

%section.row.mbm--m
  .cell.well.well--l.mtxl

    %h1 The Blog
    %p.tsi.tsl Web typography and front-end development

    %ul.list
      - get_posts().each do |post|
        %li.list-item.split.split--responsive
          .split-cell.prs
            = link_to post.data.title, post.url
          .split-cell
            %time.label= pretty_date(post.data.date)
