@font-face {
  font-display: block;
  font-family: 'argent-web';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/argent-thin-italic.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'hermes-maia-web';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/hermes-maia-t3-regular.woff2') format('woff2');
}

/* prettier-ignore */
:where(:root) {
  --jdj-color-palette-black: #000;
  --jdj-color-palette-white: #fff;

  --jdj-color-bg-default: var(--jdj-color-palette-white);
  --jdj-color-fg-default: var(--jdj-color-palette-black);

  --jdj-font-family-mono: 'Monaco', monospace;
  --jdj-font-family-sans: 'hermes-maia-web', system-ui, -apple-system, sans-serif;
  --jdj-font-family-serif: 'argent-web', serif;

  --jdj-font-family-body: var(--jdj-font-family-sans);
  --jdj-font-family-code: var(--jdj-font-family-mono);
  --jdj-font-family-heading: var(--jdj-font-family-serif);

  --jdj-font-line-height-body: 1.5;
  --jdj-font-line-height-heading: 1.25;

  --jdj-font-size-000: 12px;
  --jdj-font-size-100: 14px;
  --jdj-font-size-200: 16px;
  --jdj-font-size-300: 20px;
  --jdj-font-size-400: 24px;
  --jdj-font-size-500: 32px;
  --jdj-font-size-600: 40px;
  --jdj-font-size-700: 48px;
  --jdj-font-size-800: 64px;

  --jdj-font-underline-offset: min(1px, 0.025em);
  --jdj-font-underline-thickness: max(1px, 0.075em);

  --jdj-layout-gutter: 24px;
  --jdj-layout-container-width: 1280px;
  --jdj-layout-container-width-narrow: 700px;
  --jdj-layout-container-width-padding-x: max(var(--jdj-layout-gutter), calc((100vw - var(--jdj-layout-container-width)) / 2));
  --jdj-layout-container-width-narrow-padding-x: max(var(--jdj-layout-gutter), calc((100vw - var(--jdj-layout-container-width-narrow)) / 2));

  --jdj-space-000: 0;
  --jdj-space-100: 4px;
  --jdj-space-200: 8px;
  --jdj-space-300: 16px;
  --jdj-space-400: 24px;
  --jdj-space-500: 32px;
  --jdj-space-600: 40px;
  --jdj-space-700: 48px;
  --jdj-space-800: 64px;
  --jdj-space-900: 80px;
  --jdj-space-1000: 96px;
  --jdj-space-1100: 112px;
  --jdj-space-1200: 128px;

  color-scheme: light;
}

@media screen and (min-width: 554px) {
  :root {
    --jdj-layout-gutter: 32px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --jdj-layout-gutter: 40px;
  }
}

:where(html) {
  /* font-size: clamp(16px, calc(10px + 1vw), 20px); */
  background: var(--jdj-color-bg-default);
  cursor: initial; /* Reset Sanitize.css `default` value */
  font-size: 16px;
  height: 100%;
}

:where(body) {
  -webkit-font-smoothing: antialiased; /* https://www.joshwcomeau.com/css/custom-css-reset/#digit-font-smoothing */
  color: var(--jdj-color-fg-default);
  font-family: var(--jdj-font-family-body);
  height: 100%;
  line-height: var(--jdj-font-line-height-body);
}

:where(*),
:where(::before),
:where(::after) {
  margin: 0;
  text-decoration-thickness: var(--jdj-font-underline-thickness);
  text-underline-offset: var(--jdj-font-underline-offset);
}

:where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
  line-height: var(--jdj-font-line-height-heading);
}

:where(canvas, img, picture, svg, video) {
  display: block;
  max-width: 100%;
}

:where(a) {
  color: inherit;
  text-decoration-line: none;
}

/* https://github.com/h5bp/html5-boilerplate */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

code {
  font-family: var(--jdj-font-family-code);
}
