@font-face {
  font-display: swap;
  font-family: 'argent-web';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/argent-thin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'argent-web';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/argent-demibold-italic.woff2') format('woff2');
}

:where(:root) {
  --jdj-color-palette-black: #000;
  --jdj-color-palette-white: #fff;

  --jdj-color-bg-default: var(--jdj-color-palette-white);
  --jdj-color-fg-default: var(--jdj-color-palette-black);

  --jdj-font-family-mono: 'Monaco', ui-monospace, 'Menlo', 'Consolas',
    'Roboto Mono', 'Ubuntu Monospace', 'Noto Mono', 'Oxygen Mono',
    'Liberation Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --jdj-font-family-sans: system-ui, -apple-system, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --jdj-font-family-serif: 'argent-web', serif;

  --jdj-font-family-body: var(--jdj-font-family-sans);
  --jdj-font-family-code: var(--jdj-font-family-mono);
  --jdj-font-family-display: var(--jdj-font-family-serif);
  --jdj-font-family-heading: var(--jdj-font-family-sans);

  --jdj-font-line-height-body: 1.5;
  --jdj-font-line-height-display: 1.125;
  --jdj-font-line-height-heading: 1.25;

  --jdj-font-size-000: 12px;
  --jdj-font-size-100: 14px;
  --jdj-font-size-200: 16px;
  --jdj-font-size-300: 20px;
  --jdj-font-size-400: 24px;
  --jdj-font-size-500: 32px;
  --jdj-font-size-600: 40px;
  --jdj-font-size-700: 48px;
  --jdj-font-size-800: 64px;

  --jdj-font-weight-extra-light: 200;
  --jdj-font-weight-normal: 400;
  --jdj-font-weight-semibold: 600;
  --jdj-font-weight-bold: 700;

  --jdj-font-underline-offset: min(1px, 0.025em);
  --jdj-font-underline-thickness: max(1px, 0.075em);

  --jdj-layout-gutter: 24px;
  --jdj-layout-container-width: 1280px;
  --jdj-layout-container-width-narrow: 700px;
  --jdj-layout-container-width-padding-x: max(
    var(--jdj-layout-gutter),
    calc((100vw - var(--jdj-layout-container-width)) / 2)
  );
  --jdj-layout-container-width-narrow-padding-x: max(
    var(--jdj-layout-gutter),
    calc((100vw - var(--jdj-layout-container-width-narrow)) / 2)
  );

  --jdj-space-000: 0;
  --jdj-space-100: 4px;
  --jdj-space-200: 8px;
  --jdj-space-300: 16px;
  --jdj-space-400: 24px;
  --jdj-space-500: 32px;
  --jdj-space-600: 40px;
  --jdj-space-700: 48px;
  --jdj-space-800: 64px;
  --jdj-space-900: 80px;
  --jdj-space-1000: 96px;
  --jdj-space-1100: 112px;
  --jdj-space-1200: 128px;

  --jdj-color-btn-bg-default: #f6f8fa;
  --jdj-color-btn-border-default: #d4d8da;
  --jdj-color-btn-fg-default: #24292f;
  --jdj-color-btn-shadow-default: rgb(0 0 0 / 0.05);
  --jdj-color-btn-shadow-inset-default: rgb(255 255 255 / 0.05);
  --jdj-font-size-btn-default: var(--jdj-font-size-200);

  --jdj-color-btn-bg-primary: #b55c4f;
  --jdj-color-btn-border-primary: #9b363c;
  --jdj-color-btn-fg-primary: #fff;
  --jdj-color-btn-shadow-inset-primary: #c26e58;
  --jdj-color-btn-shadow-primary: rgb(74 23 64 / 15%);

  --jdj-color-header-bg: var(--jdj-color-bg-default);
  --jdj-color-header-logo-fill: #000;

  --jdj-color-ink-underline-bg: #bf645f;

  color-scheme: light;
}

:where([data-theme='dark']) {
  --jdj-color-bg-default: #110e1c;
  --jdj-color-fg-default: #f4f1f8;

  --jdj-color-btn-bg-default: #362d4d;
  --jdj-color-btn-border-default: #504775;
  --jdj-color-btn-fg-default: #fff;

  --jdj-color-btn-bg-primary: #806ab4;
  --jdj-color-btn-border-primary: #593aa7;
  --jdj-color-btn-shadow-inset-primary: #9875c1;
  --jdj-color-btn-shadow-primary: rgb(16 8 59 / 15%);

  --jdj-color-header-bg: #191527;
  --jdj-color-header-logo-fill: #aca2bb;

  --jdj-color-ink-underline-bg: #9c84c1;

  color-scheme: dark;
}

@media screen and (min-width: 554px) {
  :root {
    --jdj-layout-gutter: 32px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --jdj-layout-gutter: 40px;
  }
}

:where(html) {
  -webkit-font-smoothing: antialiased; /* https://www.joshwcomeau.com/css/custom-css-reset/#digit-font-smoothing */
  cursor: initial; /* Reset Sanitize.css `default` value */
  font-family: var(--jdj-font-family-body);
  font-size: 16px;
  font-weight: 380;
  height: 100%;
  line-height: var(--jdj-font-line-height-body);
}

:where(body) {
  background: var(--jdj-color-bg-default); /* Override Theme UI on html */
  color: var(--jdj-color-fg-default); /* Override Theme UI on html */
  height: 100%;
  transition: 0.2s ease-out;
}

:where(*),
:where(::before),
:where(::after) {
  margin: 0;
  text-decoration-thickness: var(--jdj-font-underline-thickness);
  text-underline-offset: var(--jdj-font-underline-offset);
}

:where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
  line-height: var(--jdj-font-line-height-heading);
}

:where(canvas, img, picture, svg, video) {
  display: block;
  max-width: 100%;
}

:where(a) {
  color: inherit;
  text-decoration-line: none;
}

code,
kbd,
samp,
pre {
  font-family: var(--jdj-font-family-code);
}
